body {
	margin: 0;
	background-color: #f0f0f0;
	font-family: "Lato", sans-serif;
	line-height: 30px;
}

/* Module */
.section-divider {
	/* This make oversize image show only part of it */
	background-size: cover;
	/* This decide which part of the oversize image to show */
	background-position: 50% 70%;
	opacity: 0.8;
	height: 480px;
	/* This three line is flex that position the text to center */
	display: flex;
	justify-content: center;
	align-items: center;
}

.blackbg-text {
	font-size: 32px;
	letter-spacing: 10px;
	padding: 15px;
	background-color: black;
	color: white;
}

.sandwich {
	margin: 0 20%;
}

.flex-container {
	display: flex;
	/* REMEMBER TO ADD THIS ================== */
	flex-wrap: wrap;
}

/* Flow */
/* top content */
h1,
h2 {
	text-align: center;
}

.top-section {
	margin-bottom: 60px;
	/* margin: 0 0 60px; ===================*/
}

.p-pic {
	flex: 40%;
}

.bold {
	font-weight: bold;
}

.description {
	flex: 60%;
	align-self: center;
}

.description-text {
	margin-left: 3%;
}

/* mid content */
.mid-section,
.btm-section {
	margin: 60px 0;
}

.beside-list {
	flex: 50%;
}

.my-list {
	flex: 50%;
}

/* btm content */

.column {
	flex: 25%;
	padding: 0 4px;
	/* REMEMBER TO ADD THIS ================== */
	box-sizing: border-box;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	background-color: #797676;
	opacity: 0.8;
	margin-top: 60px;
}

footer a {
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 10px;
	margin: 0 10px;
}

/* Picture */
.top-image {
	background-image: url("../images/top.jpg");
}

.mid-image {
	background-image: url("../images/mid.jpg");
}

.btm-image {
	background-image: url("../images/btm.jpg");
}

img {
	width: 100%;
}

/* Media */
/* Tablet */
@media (max-width: 800px) {
	.column {
		flex: 50%;
	}
	.my-list {
		flex: 100%;
	}
	.beside-list {
		flex: 100%;
	}
	.p-pic {
		flex: 100%;
	}
	.description {
		flex: 100%;
	}
}

/* Phone */
@media (max-width: 600px) {
	.column {
		flex: 100%;
	}
}
